includes:
    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon

parameters:
    level: max
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportUnmatchedIgnoredErrors: true

    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: symplify.forbiddenExtendOfNonAbstractClass

        - # Tests are allowed to do so
          identifier: symplify.multipleClassLikeInFile
          path: tests/*
