includes:
    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon

rules:
    - Shopware\PayPalSDK\Test\PHPStan\StructRule
    - Shopware\PayPalSDK\Test\PHPStan\StructMethodRule
    - Shopware\PayPalSDK\Test\PHPStan\GatewayRule

parameters:
    level: max
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportUnmatchedIgnoredErrors: true

    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: symplify.forbiddenExtendOfNonAbstractClass

        - # Tests are allowed to do so
          identifier: symplify.multipleClassLikeInFile
          path: tests/*

        - # Token should be private
          identifier: struct.property.protected
          path: src/Struct/V1/Token.php

        - # That's what they meant for
          message: '#.*#'
          paths:
              - tests/fixture/Struct/PHPStanRuleStruct.php
              - tests/fixture/Gateway/PHPStanRuleGateway.php
